version: '3.8'
services:

	php:
        build:
            args:
                user: <choose a username>
                uid: <choose a user id, ideally same as your local uid (default 1000)>
            context: ./docker/php
            dockerfile: Dockerfile
        container_name: <optionally, choose a name>
        restart: on-failure
        volumes:
            - <symfony_directory>:/var/www/symfony:cached # https://docs.docker.com/docker-for-mac/osxfs-caching/
        ports:
            - '<choose_a_port>:9000'

	db:
		image: mysql:8.0
		container_name: <optionally, choose a name>
		restart: on-failure
		env_file: docker-env
		ports:
			- '<choose_a_port>:3306'
		volumes:
			- <path_to_local_database>:/var/lib/mysql

	phpmyadmin:
		image: phpmyadmin/phpmyadmin
		container_name: <optionally, choose a name>
		env_file: docker-env
		ports:
			- '<choose_a_port>:80'
		depends_on:
			- db

	mailcatcher:
		image: schickling/mailcatcher
		container_name: <optionally, choose a name>
		env_file: docker-env
		ports:
			- '<choose_a_port>:1080'

	nginx:
		build: ./docker/nginx
		container_name: <optionally, choose a name>
		restart: on-failure
		volumes:
			- <nginx_log_directory>:/var/log/nginx:cached
			- <symfony_directory>:/var/www/symfony:cached # https://docs.docker.com/docker-for-mac/osxfs-caching/
		ports:
			- '<choose_a_port>:80'
		depends_on:
			- php

	node:
		build: ./docker/node
		container_name: <optionally, choose a name>
		restart: unless-stopped
		volumes:
			- <symfony_directory>:/var/www/symfony:cached # https://docs.docker.com/docker-for-mac/osxfs-caching/
		ports:
			- '<choose_a_port>:3000' # 8080 may be a good choice as it is the default webpack dev-server port
		depends_on:
	  		- php