{% extends 'base.html.twig' %}

{% block title %}Spaceship: Create yours!{% endblock %}

{% block body %}
    <div class="container mt-3">
        <div class="row">
            <h2>Create your spaceship!</h2>
            {% include 'spaceship/_createCustomSpaceship.html.twig' %}
        </div>
    </div>
{% endblock %}