{% extends 'base.html.twig' %}

{% block title %}Stimulus Demo{% endblock %}

{% block body %}
    {{ include('demo/_header.html.twig') }}
    <div class="container">
        <div class="row">
            <section class="col-9">
                <h2>Hello, I'm a section</h2>
                {{ include('demo/_counter.html.twig') }}
            </section>
            <aside class="col">
                <p>I'm an aside</p>
                {{ include('demo/_counter.html.twig') }}
            </aside>
        </div>
        <div class="row">
            <div data-controller="really-basic-counter"></div>
        </div>
    </div>
{% endblock %}