{% extends 'base.html.twig' %}

{% block title %}Stimulus Demo{% endblock %}

{% block body %}
    <div id="main">
        <h1>Stimulus Demo</h1>
        <button class="btn btn-primary">Hit me!</button>
    </div>
{% endblock %}