<nav class="navbar bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('admin_dashboard') }}">
            <img src="{{ asset('brand/robot.svg') }}" alt="Spacecraft Logo" width="30" height="24" class="d-inline-block align-text-top">
            SpaceCraft Administration
        </a>
    </div>
</nav>
