{% extends 'admin/base.html.twig' %}

{% block body %}
    {{ include('admin/_header.html.twig') }}
    <div class="container mt-3">
        {% block layout %}{% endblock %}
    </div>
{% endblock %}
