{% extends 'base.html.twig' %}

{% block title %}Our Shop : {{ manufacturer.name }}{% endblock %}

{% block body %}
    <div class="container mt-3">
        <div class="row">
            {{ include('manufacturer/_search.html.twig') }}
            <h2>{{ manufacturer.name }}</b></h2>
        </div>
    </div>
{% endblock %}
