{% extends 'base.html.twig' %}

{% block title %}Our Shop : All products{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <ul>
                {% for product in products %}
                    <li>
                        <a href="{{ path('app_product_show', {id: product.id}) }}">{{ product.name }}</a>
                        <small>{{ product.sku }}</small>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}