{% extends 'base.html.twig' %}

{% block title %}Our Shop : All manufacturer{% endblock %}

{% block body %}
    <div class="container">
        <form>
            <div class="input-group">
                <label>
                    <input
                            name="q"
                            value="{{ searchTerm }}"
                            placeholder="Search manufacturers..."
                            type="search"
                    >
                </label>
            </div>
        </form>
        <div class="row">
            <ul>
                {% for manufacturer in manufacturers %}
                    <li>
                        <a href="{{ path('app_shop_show', {slug: manufacturer.slug}) }}">{{ manufacturer.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}