{% extends 'base.html.twig' %}

{% block title %}Our Shop{% endblock %}

{% block body %}
    <div class="container mt-3">
        <header class="row">
            <h2>Browse spaceships</h2>
        </header>
        <section class="row">
            {{ include('spaceship/_createCustomSpaceship.html.twig') }}
        </section>
    </div>
{% endblock %}
