{% extends 'base.html.twig' %}

{% block title %}Our Shop : All manufacturer{% endblock %}

{% block body %}
    <div class="container mt-3">
        <header class="row">
            <h2>All Manufacturers</h2>
            {{ include('shop/_search.html.twig') }}
        </header>
        <section class="row">
            <ul class="list-unstyled">
                {% for manufacturer in manufacturers %}
                    <li>
                        <a href="{{ path('app_shop_show', {slug: manufacturer.slug}) }}">{{ manufacturer.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </section>
    </div>
{% endblock %}