{% extends 'base.html.twig' %}

{% block title %}Our Shop : {{ manufacturer.name }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1>{{ manufacturer.name }}</h1>
            <small><b>#{{ manufacturer.id }}</b> fake ref</small>
            <p>A fake description</p>
            {#{{ include('shop/_add_to_cart.html.twig') }}#}
        </div>
    </div>
{% endblock %}