{% extends 'base.html.twig' %}

{% block title %}Our Shop : {{ manufacturer.name }}{% endblock %}

{% block body %}
    <div class="container mt-3">
        <div class="row">
            <h2>Create your <b>{{ manufacturer.name }}</b> spaceship!</h2>
            {{ include('shop/_createCustomSpaceship.html.twig') }}
        </div>
    </div>
{% endblock %}