@import "~bootstrap";

body {
    background-color: lightgray;
}

#header {
    background-color: #282525;
    color: white;
    padding: 1em 2em;
    margin-bottom: 1em;
}

.color-box {
    display: inline-block;
    width: 28px;
    height: 28px;
    border-radius: 4px;
}
