{% extends 'blueprint/layout.html.twig' %}

{% block content %}
    <h2>Create a spaceship blueprint</h2>
    <p>Opquast rule 84</p>
    <p>Todo: explanation about the process, time required, steps</p>
    <p><a href="{{ path('app_blueprint_step_hull') }}">I choose my hull</a></p>
{% endblock %}
